<app-header></app-header>

<div class="container pb-5">

    <p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle"></p-confirmDialog>

    <div class="col-12 mt-5 row m-0 justify-content-between align-items-center">
        <h5>{{company?'Editar Empresa': 'Crear Empresa'}}</h5>
        <button (click)="back()" class="btn1"><i class="pi pi-angle-left"></i>  Regresar</button>
    </div>

    <div class="col-12 mt-5 d-flex flex-wrap">

        <div class="col-12 col-md-6 mt-2">
            <label>Nombre legal</label>
            <input (keyup)="updateCompanyData()" [(ngModel)]="company.legalname" class="col-12" type="text" [ngClass]="{'invalid': invalid && company.legalname=='' }" pInputText>
        </div>
        <div class="col-12 col-md-6 mt-2">
            <label>Nombre comercial</label>
            <input (keyup)="updateCompanyData()" [(ngModel)]="company.comercialname" class="col-12" type="text" [ngClass]="{'invalid': invalid && company.comercialname=='' }" pInputText>
        </div>
        <div class="col-12 col-md-6 mt-2">
            <label>Teléfono</label>
            <input (keyup)="updateCompanyData()" [(ngModel)]="company.phone" class="col-12" type="text" [ngClass]="{'invalid': invalid && company.phone=='' }" pInputText>
        </div>
        <div class="col-12 col-md-6 mt-2">
            <label>Dirección</label>
            <input (keyup)="updateCompanyData()" [(ngModel)]="company.address" class="col-12" type="text" [ngClass]="{'invalid': invalid && company.address=='' }" pInputText>
        </div>   
          
    </div>

    <p-messages [closable]="true"></p-messages>
    <div class="col-12 mt-4 justify-content-end row">
        <button (click)="saveCompany()" class="btn2">{{company ? 'Guardar': 'Crear'}}</button>
    </div>

</div>


