@import '../../../../styles/variables';

header{
    .logo{
        max-width: 90px;
        min-width: 90px;
    }
    .menu{
        label{
            min-width: 40px;
            min-height: 4px;
            background-color: $color1;
        }
    }    
}