<div class="d-flex justify-content-center align-items-center flex-column content image" [ngStyle]="{'background-image': 'url(/assets/img/login-background.jpg)'}">

    <div (keyup.enter)="login()" class="d-flex justify-content-center align-items-center flex-column bg-white p-5 col-12 col-md-4">

        <img width="140" src="/assets/img/logo.png" alt="BINTERACTION">
        <input type="email" class="text-center text-color1 mt-4 pt-2 pb-2 w-100" placeholder="Correo" [(ngModel)]="form.email">
        <input type="password" class="text-center mt-2 text-color1 pt-2 pb-2 w-100" placeholder="Contraseña" [(ngModel)]="form.password">
        <button (click)="login()" class="btn1 col-12 mt-2">INGRESAR</button>
    </div>
    
</div>

<p-toast></p-toast>