<app-header></app-header>

<div class="container pb-5">

    <p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle"></p-confirmDialog>

    <div class="col-12 mt-5 row m-0 justify-content-between align-items-center">
        <h5>Creación de URLs</h5>
        <button (click)="back()" class="btn1"><i class="pi pi-angle-left"></i>  Regresar</button>
    </div>


    <p-tabView styleClass="mt-4">
        

        <!-- MULTIPLE -->
        <p-tabPanel header="Multiple">
            <div class="p-0 col-12 mt-3 d-flex flex-wrap">
                <div class="col-12 mt-2 row m-0 justify-content-between align-items-center">
                    <h5>Subir excel</h5>
                </div>
                
                <div class="col-12 col-md-6 mt-3">
                    <div class="col-12 p-0 col-md-6 mt-2">                        
                        <p-fileUpload 
                        styleClass="btn1"
                        mode="basic"
                        multiple="false"
                        accept=".xls,.xlsx" 
                        maxFileSize="1000000"             
                        (onSelect)="onUploadExcel($event)"
                        [chooseLabel]="url.nameExcel || 'Seleccione'"
                        uploadLabel="Subir"
                        cancelLabel="Cancelar"
                        [auto]="true"            
                        invalidFileSizeMessageDetail="El tamaño máximo es {0}."            
                        ></p-fileUpload>
                        <div [style]="{'width': (uploadPercentExcel)+'%'}" class="loading"></div>
                    </div>
                </div>

                <div *ngIf="currentURLS" class="col-12 col-md-6 mt-3 row m-0 justify-content-between align-items-center">
                    <div class="padButton bg-white text-color1 rounded pl-5 pr-5 shadow">{{currentURLS.length}} URLs creadas</div>
                    <button (click)="downloadList()" class="btn2">Descargar</button>                    
                </div>


                <ng-container *ngIf="url.dataExcel">
                    <hr class="line col-12 mt-5">
                    <div class="col-12 mt-2 row m-0 justify-content-between align-items-center">
                        <h5>Parámetros</h5>
                    </div>
                    <div class="col-12 col-md-6 mt-3">
                        <label class="mb-3 mt-3">Seleccione los parámetros para generar las URLs</label>                    
                        <p-listbox 
                            [options]="dataExcelParameters" 
                            [(ngModel)]="parametersMultiple" 
                            [metaKeySelection]="false" 
                            [checkbox]="true"
                            [filter]="true" 
                            [multiple]="true" 
                            optionLabel="name"                             
                            >
                            <ng-template let-item pTemplate="item">
                                <div>
                                    <div>{{item.name}}</div>
                                </div>
                            </ng-template>
                        </p-listbox>
                    </div>                
                    <hr class="line col-12 mt-5">
                    <div class="col-12 mt-2 row m-0 justify-content-between align-items-center">
                        <h5>Lista</h5>
                    </div>
                    <div class="col-12 col-md-6 mt-3">                        
                        <input [ngClass]="{'invalid': invalid && url.listName==='' }" placeholder="Ingrese lista" [(ngModel)]="url.listName" class="col-12 mt-2" type="text" pInputText>
                    </div>
                    <hr class="line col-12 mt-5">
                    <ng-container *ngTemplateOutlet="urlData"></ng-container>

                    <div class="col-12 col-md-6 mt-3">
                        <p-radioButton class="mt-2" name="groupname" value="FromFile" [(ngModel)]="typeURL"></p-radioButton>
                        <label class="mt-2 ml-3 m-0 label">Desde Archivo</label>                 
                        <label class="mt-2 ml-3 m-0 label">(Seleccione el campo que contiene la URL)</label>                 
                        <ng-container *ngIf="typeURL==='FromFile'" >
                            <p-listbox 
                                [options]="dataExcelParameters" 
                                [(ngModel)]="url.fieldURL" 
                                [metaKeySelection]="false" 
                                [checkbox]="true"
                                [filter]="true"                                 
                                optionLabel="name" 
                                styleClass="mt-3"                            
                                >
                                <ng-template let-item pTemplate="item">
                                    <div>
                                        <div>{{item.name}}</div>
                                    </div>
                                </ng-template>
                            </p-listbox>
                        </ng-container>
                    </div>

                    <hr class="line col-12 mt-5">
                    <div class="col-12 mt-2 row m-0 justify-content-between align-items-center">
                        <h5>Datos de URL</h5>
                    </div>
                    <div class="col-12 col-md-6 mt-3">
                        <div>
                            <label class="col-12 mt-2 ml-3 m-0 label">Empresa (Opcional)</label>
                            <input (keyup)="issetCompanyNameAndText($event.target.value)" placeholder="Ingrese empresa" [(ngModel)]="url.companyName" class="col-12 mt-2" type="text" pInputText>                        
                        </div>                        
                    </div>
                    
                    <p-messages [closable]="true"></p-messages>
                    <div class="col-12 m-0 mt-4 justify-content-between row align-items-center flex-wrap">                        
                        <button (click)="generateMultipleURL()" class="btn2 mt-3 col-12 col-md-4">Generar</button>
                    </div>
                </ng-container>
                
            </div>
        </p-tabPanel>

        <!-- SIMPLE -->

        <p-tabPanel header="Simple">
        
            <div class="p-0 col-12 mt-3 d-flex flex-wrap">
        
                <ng-container *ngTemplateOutlet="urlData"></ng-container>
        
                <hr class="line col-12 mt-5">
                <div class="col-12 mt-2 row m-0 justify-content-between align-items-center">
                    <h5>Datos de URL</h5>
                </div>
                <div class="col-12 col-md-6 mt-3">
                    <div>
                        <label class="col-12 mt-2 ml-3 m-0 label">Empresa (Opcional)</label>
                        <input (keyup)="issetCompanyNameAndText($event.target.value)" placeholder="Ingrese empresa"
                            [(ngModel)]="url.companyName" class="col-12 mt-2" type="text" pInputText>
                    </div>
                    <div class="mt-2">
                        <label class="col-12 mt-2 ml-3 m-0 label">Texto (Opcional)</label>
                        <input [ngClass]="{'invalid': invalid && url.companyName!=='' && (url.text==='' || !validText) }"
                            (keyup)="issetCompanyNameAndText($event.target.value)" placeholder="Ingrese texto"
                            [(ngModel)]="url.text" class="col-12 mt-2" type="text" pInputText>
                        <span *ngIf="url.text !== ''"
                            [ngClass]="{'text-danger': !validText,'text-success': validText}">{{validText?'Válido': 'Ya existe,
                            elija otro'}}</span>
                    </div>
                </div>
        
                <hr class="line col-12 mt-5">
                <div class="col-12 mt-3 row m-0 justify-content-between align-items-center">
                    <h5>Parámetros</h5>
                    <button class="btn1" (click)="openModal()">Agregar</button>
                </div>
        
                <div class="col-12 mt-5">
        
                    <p-orderList [value]="parameters" filterBy="name">
                        <ng-template let-el pTemplate="item">
                            <div class="d-flex justify-content-between pl-2 pr-2">
                                <span>{{el.name}}</span>
                                <div>
                                    <button class="edit" (click)="edit(el)"><i class="pi pi-pencil"></i></button>
                                    <button class="delete" (click)="delete(el._id, i)"><i class="pi pi-trash"></i></button>
                                </div>
                            </div>
                        </ng-template>
                    </p-orderList>
        
                </div>
        
        
            </div>
        
            <p-messages [closable]="true"></p-messages>
            <div class="col-12 m-0 mt-4 justify-content-between row align-items-center flex-wrap">
                <div *ngIf="currenrURLData.shortUrl" class="row m-0 align-items-center mt-3">
                    <h5>URL Corta </h5>
                    <div class="bg-color1 shadow pt-2 pb-2 pl-5 pr-5 ml-4">
                        <a class="text-white" target="_blank" href="{{currenrURLData.shortUrl}}">{{currenrURLData.shortUrl}}</a>
                    </div>
                </div>
                <button (click)="generateURL()" class="btn2 mt-3 col-12 col-md-4">Generar</button>
            </div>
        
        </p-tabPanel>
        
    </p-tabView>



    
</div>

<p-dialog 
[header]="'Agregar elementos'" 
[(visible)]="modal" 
styleClass="col-11" 
[style]="{'min-heigth': '400px'}"  
> 
    <input placeholder="Ingrese nombre" [(ngModel)]="parameter.name" class="flex-1 mt-2" type="text" pInputText>
    <input placeholder="Ingrese valor" [(ngModel)]="parameter.value" class="flex-1 mt-2" type="text" pInputText>
    <div class="mt-3 col-12 row m-0 justify-content-end">
        <button (click)="addParameter()" class="btn1">Guardar</button>
    </div>        
</p-dialog>



<ng-template #urlData>
    <div class="col-12 mt-2 row m-0 justify-content-between align-items-center">
        <h5>Empresa</h5>
    </div>

    <div class="col-12 col-md-6 mt-3">                    
        <div class="col-12 p-0">
            <p-dropdown placeholder="Seleccione una empresa" optionLabel="comercialname" optionValue="_id" [options]="companies" [styleClass]="'w-100 select '" [(ngModel)]="url.companyID" name="companyid"></p-dropdown>           
        </div>
    </div>
    <hr class="line col-12 mt-5">



    <div class="col-12 mt-2 row m-0 justify-content-between align-items-center">
        <h5>Tipo de URL</h5>                    
    </div>

    <div class="col-12 col-md-6 mt-3">                    
        <div class="d-flex align-items-center flex-wrap">
            <p-radioButton class="mt-2" name="groupname" value="URL" [(ngModel)]="typeURL"></p-radioButton>                        
            <label class="mt-2 ml-3 m-0 label">URL</label>
            <input [disabled]="typeURL!=='URL'" placeholder="Ingrese URL" [(ngModel)]="url.url" class="flex-1 mt-2" type="text" [ngClass]="{'invalid': invalid && url.url=='' && typeURL==='URL' }" pInputText>                        
        </div>
        <div class="d-flex align-items-center mt-2 url flex-wrap">
            <p-radioButton class="mt-2" name="groupname" value="Landing" [(ngModel)]="typeURL"></p-radioButton>
            <label class="mt-2 ml-3 m-0 label">Landing</label>                 
            <p-dropdown [disabled]="typeURL!=='Landing'" placeholder="Seleccione una landing" optionLabel="name" optionValue="_id" [options]="landings" [styleClass]="'mt-2 flex-1 w-100 select '+ (!url.landingID && invalid && typeURL==='Landing' ? 'invalid': '')" [(ngModel)]="url.landingID" name="landingID"></p-dropdown>                       
        </div>

        <div class="d-flex align-items-center mt-2 url flex-wrap">
            <p-radioButton class="mt-2" name="groupname" value="Whatsapp" [(ngModel)]="typeURL"></p-radioButton>
            <label class="mt-2 ml-3 m-0 label">Whastapp</label>                 
            <label class="mt-4 col-12">Número (Ej:51987654321)</label>
            <input [disabled]="typeURL!=='Whatsapp'" placeholder="Ingrese numero" [(ngModel)]="url.whatsappNumber" class="flex-1 mt-2" type="text" [ngClass]="{'invalid': invalid && url.whatsappNumber=='' && typeURL==='Whatsapp' }" pInputText>
            <label class="mt-2 col-12">Texto (Variable entre paréntesis)</label>
            <textarea [disabled]="typeURL!=='Whatsapp'" class="col-12" [(ngModel)]="url.whatsappText" [ngClass]="{'invalid': invalid && url.whatsappText=='' && typeURL==='Whatsapp' }" placeholder="Ingrese el texto"></textarea>                   
        </div>
        
    </div>
    
</ng-template>